# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment directories
.env
venv/
env/



# Ignore IDE files
.vscode/
.idea/

# Ignore operating system files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore everything in the target/debug directory
target/debug/*

# Exclude SendmeInterface.exe from being ignored
!target/debug/SendmeInterface.exe